<section>
  <div class="container">
    <div class="searchbox">
      <%= form_with url: listings_path, local: true, method: :get do %>
      <%= label_tag "title_search" %>
      <%= text_field_tag "title_search", nil, maxlength: 10 %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
      <%= link_to "Reset", listings_path, class: "btn btn-dark" %>
      <% end %> 
    </div>

    <table class="table">
      <thead>
        <tr>
          <th><%= link_to 'Title', listings_path(sort: 'title') %>
          <th><%= link_to 'Price', listings_path(sort: 'price') %>
          <th>Description
          <th><%= link_to 'Date Posted', listings_path(sort: 'date') %>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'listing', collection: @listings %>
      </tbody>
    </table>
    <br>
    <%= link_to "Post new listing", new_listing_path, class: "btn btn-secondary" %>
    </div>
</section>
