<%= @listing.inspect %>
<section id="main" class="container">

  <p class="lead">Listing Details for <%= @listing.title %></p>
  <dl>
    <dt>Title
      <dd> <%= @listing.title %>
    <dt>Description
      <dd> <%= @listing.description %>
    <dt>Date Posted
      <dd> <%= @listing.date %>
    <dt>Price
      <dd> <%= number_to_currency(@listing.price) %>
  </dl>

  <%= link_to "Edit listing", edit_listing_path(@listing), class: "btn btn-info" %>
  <%= button_to "Delete listing", listings_path(@listing), method: :delete, class: "btn btn-warning" %>
  <%= link_to "Back to index", listings_path, class: "btn btn-primary" %>
</section>