<section>
<div class="container">
  <h1>Details for <%= @listing.title %></h1>
  <dl>
  <dt>Description</dt>
  <dd><%= @listing.description %></dd>
  <dt>Date Posted</dt>
  <dd><%= @listing.date %></dd>
  <dt>Price</dt>
  <dd><%= number_to_currency(@listing.price) %></dd>
  </dl> 
  <br>

  <%= link_to "Edit listing", edit_listing_path(@listing), class: "btn btn-info" %>
  <%= button_to "Delete listing", listings_path(@listing), method: :delete, class: "btn btn-warning" %>
  
<div>


<div class="container">
<table class="table">
  <thead>
    <tr>
      <th>Comments</th>
      <th>Offer</th>
      <th>By</th>
    </tr>
  </thead>
  <tbody>
<%= render collection: @comments, partial: 'comments/comment' || "No comments yet" %>
  </tbody>
</table>
<%if user_signed_in? %>
  <%= link_to "Write a new comment", new_listing_comment_path(@listing), class: "btn btn-secondary" %>
<% end %>
</div>

<%= link_to "Back to index", listings_path, class: "btn btn-primary" %>

</section>
