<section>
<div class="container">
  <h1>Details for <%= @listing.title %></h1>
  <dl>
  <dt>Description</dt>
  <dd><%= @listing.description %></dd>
  <dt>Date Posted</dt>
  <dd><%= @listing.date %></dd>
  <dt>Price</dt>
  <dd><%= number_to_currency(@listing.price) %></dd>
  </dl> 
  <br>

  <%= link_to "Edit listing", edit_listing_path(@listing), class: "btn btn-info" %>
  <%= button_to "Delete listing", listing_path(@listing), method: :delete%>
  <%= link_to "Back to index", listings_path, class: "btn btn-primary" %>
<div>
</section>