<section id="main" class="container">

  <h1 class="product_title">Product details page: <%= @listing.title %></h1>
  <br>

  <%= turbo_frame_tag "show_edit" do %>
    <table class="table">
      <thead>
        <tr>
          <th> Title </th>
          <th> Description </th>
          <th> Date Posted </th>
          <th> Price </th>
        </tr>
      </thead>
      <tbody>
        <td><%= @listing.title %></td>
        <td><%= @listing.description %></td>
        <td><%= time_ago_in_words(@listing.date) + " ago" %></td>
        <td><%= number_to_currency(@listing.price) %></td>
      </tbody>
    </table>
    <br>

    </dl>

    <% if current_user && (current_user == @listing.user || current_user.admin?) %>
      <%= link_to "Edit listing", edit_listing_path(@listing), class: "btn btn-info inline-button" %>
    <% end %>
  <%end%>
  <% if current_user && (current_user == @listing.user || current_user.admin?) %>
    <%= button_to "Delete listing", listing_path(@listing), method: :delete, form_class: "inline-button", class: "btn btn-danger" %>  <br>
  <% end %>
    
  <br>
  <br>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Comments</th>
        <th>Offer</th>
        <th>By</th>
      </tr>
    </thead>
    
    <tbody>
      <% if @listing.comments.present? %>
        <%= render partial: 'comments/comment', collection: @listing.comments %>
      <% else %>
        <tr><td colspan="3">No comments yet</td></tr>
      <% end %>
    </tbody>

  </table>
</div>

<div>
<%if user_signed_in? %>
  <%= link_to "Write a new comment", new_listing_comment_path(@listing), class: "btn btn-secondary" %>
<% end %>
</div>
<br>

<%= link_to "Back to index", listings_path, class: "btn btn-primary" %>


</section>


