<section id="main" class="container">

  <h1 class="product_title">Product details page: <%= @listing.title %></h1>
  <br>

  <%= turbo_frame_tag "show_edit" do %>
    <table class="table">
      <thead>
        <tr>
          <th> Title </th>
          <th> Description </th>
          <th> Posted By </th>
          <th> Date Posted </th>
          <th> Price </th>
        </tr>
      </thead>
      <tbody>
        <td><%= @listing.title %></td>
        <td><%= @listing.description %></td>
        <td><%= @listing.user&.email %></td>
        <td><%= time_ago_in_words(@listing.date) + " ago" %></td>
        <td><%= number_to_currency(@listing.price) %></td>
      </tbody>
    </table>
    <br>

    </dl>

    <% if current_user && (current_user == @listing.user || current_user.admin?) %>
      <%= link_to "Edit listing", edit_listing_path(@listing), class: "btn btn-info inline-button" %>
    <% end %>
  <%end%>
  <% if current_user && (current_user == @listing.user || current_user.admin?) %>
    <%= button_to "Delete listing", listing_path(@listing), method: :delete, form_class: "inline-button", class: "btn btn-danger" %>  <br>
  <% end %>
    
  <br>
  <br>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Comments</th>
        <th>Offer</th>
        <th>By</th>
        <% if current_user == @listing.user %>
          <th>Actions</th>
        <% end %>
      </tr>
    </thead>
    
    <tbody>
      <% @listing.comments.each do |comment| %>
    <tr>
      <td><%= comment.commentText %></td>
      <td>$<%= comment.offer %></td>
      <td><%= comment.user.email %></td>
      
      <% if current_user == @listing.user && !comment.accepted? %>
        <td>
        <%= button_to "Accept Offer", accept_offer_listing_path(@listing, comment), method: :patch, class: "btn btn-accept-offer" %>
        </td>
      <% end %>
      </td>
    </tr>
  <% end %>
    </tbody>

  </table>
</div>

<div>
<%if user_signed_in? %>
  <%= link_to "Write a new comment", new_listing_comment_path(@listing), class: "btn btn-secondary" %>
<% end %>
</div>
<br>

<%= link_to "Back to index", listings_path, class: "btn btn-primary" %>


</section>


